[user]
	name = Ibraheem Ahmed
	email = ibrah1440@gmail.com
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
