set NERDTree
map 0 ^
set scrolloff=10
map H ^
map L $
noremap ; :
nnoremap <space>l gt
nnoremap <space>h gT
nnoremap <space>d :action CloseContent<cr>
nnoremap fd :action GotoDeclaration<cr>
nnoremap fn :action RenameElement<cr>
nnoremap <space>s :action SearchEverywhere<cr>
nnoremap fr :action ShowUsages<cr>
nnoremap fl :action GotoNextError<cr>
nnoremap fh :action GotoPreviousError<cr>
nnoremap fm :action ReformatCode<cr>
map <C-p> :action GotoFile<cr>
nnoremap ShowUsages
nnoremap t :NERDTreeFocus<cr>
nmap <C-h> <c-w>h
nmap <C-l> <c-w>l
nmap <C-k> <c-w>k
nmap <C-j> <c-w>j
nnoremap <C-e> :action EditorScrollDown<cr>
